.service {
  display: flex;
  gap: 20px;
}
.image {
  width: 50%;
  border-radius: 15px;
}
.price {
  color: #d46502;
  font-weight: 700;
  margin-top: auto;
}
.description {
  line-height: 28px;
  font-weight: 500;
}
.name {
  font-size: 24px;
}
.info {
  display: flex;
  flex-direction: column;

  border-bottom: 2px solid #d46502;
}
@media (max-width: 768px) {
  .service {
    flex-direction: column-reverse;
  }
  .image {
    width: 100%;
  }
}
